.venv
nobilis/__pycache__
.DS_Store
bases/__pycache__
bases/migrations/__pycache__
waitinglist/__pycache__
waitinglist/migrations/__pycache__
api/__pycache__
nsocial/__pycache__
nsocial/migrations/__pycache__
api/migrations/__pycache__
api/migrations/__pycache__
membership/__pycache__
membership/migrations/__pycache__
.idea
